#about {
  padding: 5rem 1rem;
  background: #f3f5f8;
  width: 100%;
  text-align: center;
}

.project-item > img {
  width: 200px;
  height: 300px;
}

.main-btns {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  margin: 3rem;
  background-color: #8c9398;
}

.hover-text {
  margin-bottom: 0;
  margin-top: 0.75rem;
  color: #F5FFFA;
}

.main-btns-small {
  border-radius: 10px;
  background-color: #8c9398;
}

.hero-btns-small {
  margin-top: 3rem;
}

.main-btns-small > p {
  margin-bottom: 0;
  color: #333333;
}

.fa {
  top: 25%;
  position: relative;
}

.hero-btns {
  padding-top: 3rem;
  background: #E0E0E0;
}

.hairline {
  border: 1px solid #e0e0e0;
  margin: 1rem 0 3rem 0;
}

.project-item {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 3rem 1rem;
  padding: 1rem;
}

.project-img-container {
  margin-top: 1.5rem;
  border-radius: 1px;
}

.project-item > p {
  padding-top: 1rem;
}

.contact-icons {
  margin-bottom: 3rem;
}

.summary-text a {
  color: #333;
}


.active {
  border-bottom: 2px solid #8c9398;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.right-header li {
  display: inline;
  float: right;
  margin: 0.5rem 1.5rem;
}

.left-header li {
  display: inline;
  float: left;
  margin: 0.5rem 1.5rem;
}

.navbar-nav a {
  color: #8c9398;
}

.header {
  width: 100%;
  background: #fafafa;
  position: fixed;
  z-index: 999;
}

footer {
  background: #333333;
}

footer > p {
  float: right;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icon-center {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 1px;
  z-index: 999;
}
