html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.hero {
  width: 100%;
  height: 100%;
  background: url("img/foggy-sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 40em) {
  .hero {
    background: #E0E0E0;
  }
}

.hero-container {
  position: relative;
  top: 20%;
  text-align: center;
}

.summary-text {
  color: #8c9398;
}

.contact-me {
  width: 100%;
  display: inline-block;

}

#contact {
  width: 100%;
  text-align: center;
}

.picture {
  background: url("img/profile_pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9rem;
  height: 9rem;
  width: 9rem;
  display: block;

  border: 5px solid #E0E0E0;
}

.short-description {
  position: relative;
}

.name {
  text-align: center;
  position: relative;
}

ul, li {
  color: #8c9398;
  list-style-type: none;
  margin-bottom: 0.25rem;
}

footer {
  background: black;
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0;
}

#copyright {
  color: white;
  float: right;
}

.project-carousel {

}

img {
  width: 40%;
}

.element {

}

.project-frame-connectd {
  border: 5px solid #E0E0E0;
  background: url("img/connectd.png");
  background-repeat: no-repeat;
  background-size: cover;

  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}

h1 {
  font-size: 3.5rem;
}

#projects {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-carousel {
  width: 150px;
  height: 200px;
}

.element {
  height: 100px;
}

h1, h2 {
  color: #333333;
}

p {
  color: #8c9398;
}

ul.slick-dots {
  margin-left: 0;
}

.fa {
  display: inline-block;
  color: #333333;
}

.main-btn {
  height: 6rem;
  width: 6rem;
  border-radius: 10px;

  padding-top: 1.5rem;

  margin-bottom: 3rem;
}

button.slick-prev:before, button.slick-next:before {
  color: #8c9398 !important;
}
