html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.hero {
  width: 100%;
  height: 70%;

  box-shadow: inset 0px -120px 100px -10px rgba(0, 0, 0, 0.7);
}

.summary {
  width: 100%;
  height: 30%;
  background: #AFCFD1;
  text-align: center;
  padding: 0 80px;
}

.picture {
  background: url("img/profile_pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9rem;
  height: 9rem;
  width: 9rem;
  display: block;

  border: 5px solid #E0E0E0;
}

.vertical-center {
  position: relative;
  top: 20%;
}

.name {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  position: relative;
  top: 20%;
}
