.summary {
  padding: 5rem 1rem;
  background: #f3f5f8;
}

.sudoku-img {
  background: url("img/project/sudoku-before-nophone.png");
  background-size: cover;
  width: 100px;
  height: 150px;
}

.project-item > img {
  width: 200px;
  height: 300px;
}

.main-btns {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  margin: 3rem;
  background-color: #8c9398;
}

.main-btns-small {
  border-radius: 10px;
  background-color: #333333;
}

.fa {
  top: 25%;
  position: relative;
}

.hero-btns {
  padding-top: 3rem;
  background: #E0E0E0;
}

.hairline {
  border: 1px solid #e0e0e0;
  margin: 1rem 0 3rem 0;
}

.project-item {
  border: 1px solid #e0e0e0;
  margin: 3rem 1rem;
  padding: 1rem;
}

.project-item > p {
  padding-top: 1rem;
}

.contact-icons {
  margin-bottom: 1rem;
}

.summary-text > a {
  color: #333;
}
