doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ernest Wong | Welcome
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/application.css')
    link(rel='stylesheet', href='css/home.css')
    link(rel='stylesheet', href='css/home2.css')
    link(rel='stylesheet', href='css/hover-min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick-theme.css")


    script(src='js/vendor/modernizr.js')
  body
    section.hero
      .hero-container
        h1 ernest wong
        p computer engineering student | former developer @Boltmade | programmer
        .hero-btns.row
          a(href="https://github.com/ernestwong")
            .hvr-grow.button.main-btns
              .fa.fa-github.fa-5x
          a(href="ernest-resume.pdf")
            .hvr-grow.button.main-btns
              .fa.fa-file-text-o.fa-5x
          a(href="#projects")
            .hvr-grow.button.main-btns
              .fa.fa-folder.fa-5x
    section.summary
      h3 Hey, I'm Ernest.
      p I'm currently studying Computer Engineering at the University of Waterloo and I like to code in my spare time. Recently, I&apos;ve worked at Boltmade as a co-op doing full-stack web dev. You can check out my stuff on Github, have a look at my resume, give me a shout, or just take a look around.
    section#projects
      h1 Projects
      .projects-container.row
        .columns.large-8.medium-8.medium-centered
          .project-item
            img(src="css/img/project/sudoku-before-nophone.png")
            img(src="css/img/project/sudoku-after-nophone.png")
            p Simply take a picture of a Sudoku puzzle and have the solution in front of you. Uses OpenCV to process image and Tesseract OCR to detect digits. Implemented backtracking algorithm to solve sudoku puzzle.
          .project-item
            img(src="css/img/project/connectd-screen-1.png")
            p Get Connectd with anyone with a single click. Ruby on Rails application that allows user to send invitations simultaneously via all social media platforms to another user.
          .project-item
            img(src="css/img/project/uwinfo-1-nophone.png")
            img(src="css/img/project/uwinfo-2-nophone.png")
            p A simple Android application that retrieves data from Waterloo API and displays upcoming information sessions. Can view individual event details and add event to system calendar.
          .project-item
            img(src="css/img/project/musedreams-code.png")
            p Have a worry-free nap with MuseDreams. An IoT (Internet of Things) hack with the Muse headband that makes adjustments to external surroundings when user is falling asleep. Interprets input data from headband via state machine and uploads user alertness status to server where Android phone and Arduino responds.
    section#contact  
      h2 Contact me
    script(src='js/vendor/jquery.js')
    script(src='js/foundation.min.js')
    script(src='js/script.js')
    script(src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js")

    script.
      $(document).foundation();
